:root {
    --color-primary: #44f6fd;
    --color-accent: #fffffa;
    --color-default: #363636;
  
    --color-background: #242424;
    --color-card: #1b1b1b;
  
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
  
    --length-md1: 1rem;
    --length-md2: 1.25rem;
    --length-md3: 1.5rem;
    --length-md4: 1.75rem;

     /* Font Sizes */
    --length-sm1: 0.3rem;
    --length-sm2: 0.6rem;
    --length-sm3: 0.8rem;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
  }



/**** Global Styles ****/


.dashboard-card__number {
  font-size: var(--length-md4);
  font-weight: 500;
  color: var(--color-text);
}




/**** End Global Styles ****/



/**** Sidebar Menu Section *****/


.sidebar-menu__container {
    display: flex;
    flex-direction: column;
    gap: 14.5rem; 
    /* justify-content: space-between; */
    background-color: var(--color-card);
    height: 100%;
    position: fixed;
    width: 3.3rem;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    align-items: center;

}



.sidebar-menu__container span {
  font-size: var(--length-md3);

}


.sidebar-menu__container .sidebar-menu__middle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



/**** END Sidebar Menu Section *****/






/*** DASHBOARD CONTAINER ****/

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 16px;
  background-color: var(--color-background);
  margin: 0 auto;
  gap: 16px;
  width: 600px;

}



.dashboard-card {
  background-color: var(--color-card);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 45px;
}


.dashboard-card  .dashboard-card__text-display {
  display: block;
}



.dashboard-card  .dashboard-card__text-display  .dashboard-card__title {
  font-size: var(--length-sm3);
  font-weight: 400;
  color: var(--color-label);
  margin-bottom: 4px;
}




/*

.dashboard-card .dashboard-card__icon-container {
  width: 52.8px;
  height: 52.8px;
  border-radius: 26.4px;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
*/

.dashboard-card .dashboard-card__icon {
  color: var(--color-primary);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 26.4px;
  font-size: 2rem;
}



.dashboard-card__bullet {
  width: 12.8px;
  height: 12.8px;
  border-radius: 6.4px;

}



/* Third card */


.dashboard-card.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9.60px;
}


.dashboard-card__bullet.primary {
  background-color: var(--color-primary);
}

.dashboard-card__bullet.accent {
  background-color: var(--color-accent);
}

.dashboard-card__bullet.default {
  background-color: var(--color-default);
}


/* Cards Second Row */


.dashboard-card.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 28px;
  border-radius: 16px;
  text-align: center;


}

.dashboard-card.vertical .dashboard-card__text-display h1 {
  font-size: var(--length-md1);
  font-weight: 500;
  color: var(--color-label);
  margin-bottom: 16px;
}

.dashboard-card.vertical .dashboard-card__text-display .dashboard-card__number {
  margin-bottom: 35px;
}



/* Second Row 1st Card */

.dashboard-card.vertical .dashboard-card__circle-graph {
  position: relative;
  width: 8.5rem;
  height: 8.5rem;
  margin: 0px auto;
  border-radius: 50%;
  background: conic-gradient( var(--color-primary) 0% 33%, var(--color-default) 33% 100% );
}

.dashboard-card.vertical .dashboard-card__circle-graph::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: inherit;
  background: var(--color-card);
}



/* Second Row 2nd Card */


.dashboard-card.vertical .dashboard-card__text-display .dashboard-card__text-display--col-container {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.dashboard-card.vertical .dashboard-card__bar-chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 26px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--1,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--2,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--3,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--4,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--5,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--6,
.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--7 {
  background-color: var(--color-background);
  position: relative;
  width: 22.4px;
  
}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--1 {
  height: 50px;
}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 24px;
  background-color: var(--color-primary);
  width: 22.4px;

}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--2 {
  height: 110px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: var(--color-primary);
  width: 22.4px;

}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--3 {
  height: 15px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: var(--color-primary);
  width: 22.4px;

}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--4 {
  height: 47px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--4::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35px;
  background-color: var(--color-primary);
  width: 22.4px;

}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--5 {
  height: 80px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 68px;
  background-color: var(--color-primary);
  width: 22.4px;

}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--6 {
  height: 120px;
}

.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--6::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  background-color: var(--color-primary);
  width: 22.4px;

}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--7 {
  height: 90px;
}


.dashboard-card.vertical .dashboard-card__bar-chart .dashboard-card__bar-col--7::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  background-color: var(--color-primary);
  width: 22.4px;

}






/*** END DASHBOARD CONTAINER ****/