:root {
    --color-primary: #44f6fd;
    --color-accent: #fffffa;
    --color-default: #363636;
  
    --color-background: #242424;
    --color-card: #1b1b1b;
  
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
  
    --length-md1: 1rem;
    --length-md2: 1.25rem;
    --length-md3: 1.5rem;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
  }



*



/**** Sidebar Menu Section *****/


.sidebar-menu__container {
    display: flex;
    flex-direction: column;
    gap: 14.5rem; 
    /* justify-content: space-between; */
    background-color: var(--color-card);
    height: 100%;
    position: fixed;
    width: 3.3rem;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    align-items: center;

}



.sidebar-menu__container span {
  font-size: var(--length-md3);

}


.sidebar-menu__container .sidebar-menu__middle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



