:root {
    --color-primary: #44f6fd;
    --color-accent: #fffffa;
    --color-default: #363636;
  
    --color-background: #242424;
    --color-card: #1b1b1b;
  
    --color-text: #f9f9f9;
    --color-label: #aaaaaa;
    --color-disabled: #888888;
  
    --length-md1: 1rem;
    --length-md2: 1.25rem;
    --length-md3: 1.5rem;
    --length-md4: 1.75rem;

     /* Font Sizes */
    --length-sm1: 0.3rem;
    --length-sm2: 0.6rem;
    --length-sm3: 0.8rem;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
  }



*



/**** Sidebar Menu Section *****/


.sidebar-menu__container {
    display: flex;
    flex-direction: column;
    gap: 14.5rem; 
    /* justify-content: space-between; */
    background-color: var(--color-card);
    height: 100%;
    position: fixed;
    width: 3.3rem;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    align-items: center;

}



.sidebar-menu__container span {
  font-size: var(--length-md3);

}


.sidebar-menu__container .sidebar-menu__middle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



/**** END Sidebar Menu Section *****/






/*** DASHBOARD CONTAINER ****/

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 16px;
  background-color: var(--color-background);
  margin: 0 auto;
  gap: 16px;
  width: 600px;

}



.dashboard-card {
  background-color: var(--color-card);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dashboard-card  .dashboard-card__text-display {
  display: block;
}



.dashboard-card  .dashboard-card__text-display  .dashboard-card__title {
  font-size: var(--length-sm3);
  font-weight: 400;
  color: var(--color-label);
  margin-bottom: 4px;
}




.dashboard-card .dashboard-card__text-display .dashboard-card__number {
  font-size: var(--length-md4);
  font-weight: 500;
  color: var(--color-text);
}


/*

.dashboard-card .dashboard-card__icon-container {
  width: 52.8px;
  height: 52.8px;
  border-radius: 26.4px;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
*/

.dashboard-card .dashboard-card__icon {
  color: var(--color-primary);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 26.4px;
  font-size: 2rem;
}



.dashboard-card__bullet {
  width: 12.8px;
  height: 12.8px;
  border-radius: 6.4px;

}



/* Third card */


.dashboard-card.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9.60px;
}


.dashboard-card__bullet.primary {
  background-color: var(--color-primary);
}

.dashboard-card__bullet.accent {
  background-color: var(--color-accent);
}

.dashboard-card__bullet.default {
  background-color: var(--color-default);
}




/* Cards Second Row */

.dashboard-card.verical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 28px;
  border-radius: 16px;
  text-align: center;


}

.dashboard-card.verical .dashboard-card__text-display h2 {
  font-size: var(--length-md1)
  font-weight: 500;
  color: var(--color-label);
  margin-bottom: 16px;
}





/*** END DASHBOARD CONTAINER ****/